@import "./colors";

.chatRow {
  display: grid;
  place-items: center;
  position: relative;

  .trash {
    height: 100%;
    width: 50px;

    svg {
      position: absolute;
      height: 20px;
      left: 0;
      bottom: 0;
      margin-left: 10px;
      margin: 20px;
      z-index: 999;
    }
  }
  &:hover {
    background-color: $container-background-color;
    cursor: pointer;
  }

  div {
    .chatRow__container {
      display: flex;
      align-items: center;

      padding: 20px 0px;

      h5 {
        font-weight: 500;
      }
      p {
        font-size: 12px;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 10px;
        padding: 5px 0px;
      }
    }
  }
}
