@import "./colors";

.sidebar {
  flex: 0.3;

  border-right: $container-background-color 1px solid;

  display: flex;
  flex-direction: column;

  .sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 10px;
    flex: 0.06;
    width: 100%;

    background-color: $container-background-color;

    img {
      height: 40px;
      border-radius: 100%;
      margin-left: 9px;
    }

    .header__buttons {
      display: flex;
      align-items: center;
      svg {
        height: 25px;
      }
    }
  }

  .sidebar__search {
    flex: 0.05;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid $container-background-color;

    padding: 3px 14px;

    .search__container {
      width: 100%;
      display: flex;
      align-items: center;

      background-color: $container-background-color;
      border-radius: 7px;

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 10px;
      }
      svg {
        height: 17px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }

  .sidebar__chat {
    flex: 0.89;

    overflow-y: scroll;

    // REMOVE SCROLLBAR FOR CHAT ROW
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .chat__empty {
      height: 100%;

      display: grid;
      place-items: center;
    }
  }
}

@media only screen and (min-width: 0px) {
  .sidebar {
    flex: 1;
    // display: none;
    .sidebar__header {
      img {
        height: 30px;
        margin-right: 20px;
      }
      .header__buttons {
        svg {
          height: 20px;
          margin: 0px 5px;
        }
      }
    }
  }
  .sidebar__hide {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar {
    flex: 0.3;

    .sidebar__header {
      .header__buttons {
        .buttons__leftArrow {
          display: none;
        }
      }
    }
  }
}
